* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 150px auto;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: #e0e8ff;
}

.container {
    border-radius: 1rem;
    background-color: #fff;
}

.photo img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 300px;
}

.maintext {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
}

.maintext p {
    margin-top: 25px;
    font-weight: 500;
    opacity: 0.5;
}

.subs{
    display: flex;
    justify-content: center;
    margin-left: 11px;
    margin-bottom: 15px;
    width: 280px;
    align-items: center;
    height: 80px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
}

.change{
    margin-left: 30px;
    margin-top: 8px;
}

.plan{
    margin-left: 15px;
}
.price{
    font-weight: 500;
    opacity: 0.5;
}

.sunscr {
    display: flex;
}

.btn {
    display: block ;
}

.change button {
    border: none;
    background-color: hsl(225, 100%, 98%);
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.change button:hover{
    color: hsl(268, 75%, 52%);
    cursor: pointer;
}


.procced button {
    height: 40px;
    border-radius: 0.7rem;
    margin-left: 11px;
    width: 280px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    font-weight: 900;
    color: white;
}

.procced button:hover{
    background-color: hsl(268, 75%, 52%);
    cursor: pointer;
}

.cancel button{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border: none;
    opacity: 0.6;
    font-weight: 900;
}

.cancel button:hover {
    opacity: 1;
    cursor: pointer;
}


@media screen and (max-width: 450px) {
    body {
      background-image: url(../images/pattern-background-mobile.svg);
      background-color: #e0e8ff;
    }